In [1]:
from pandas import DataFrame
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def transform(dat,cls_col):
    for i in np.unique(dat[cls_col]):
        dat[i]=np.where(dat[cls_col]==i,1,0)
    return dat

In [20]:
iris=pd.read_csv('C:/Users/HP/Desktop/iris.csv')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
transform(iris,'Species').head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0

In [22]:
s_l=lambda x:(x-4.3)/3.6
s_w=lambda x:(x-2.0)/2.4
p_l=lambda x:(x-1.0)/5.9
p_w=lambda x:(x-0.1)/2.4
iris['Sepal.Length']=iris['Sepal.Length'].map(s_l)
iris['Sepal.Width']=iris['Sepal.Width'].map(s_w)
iris['Petal.Length']=iris['Petal.Length'].map(p_l)
iris['Petal.Width']=iris['Petal.Width'].map(p_w)
iris.head()

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species,setosa,versicolor,virginica
0,0.222222,0.625000,0.067797,0.041667,setosa,1,0,0
1,0.166667,0.416667,0.067797,0.041667,setosa,1,0,0
2,0.111111,0.500000,0.050847,0.041667,setosa,1,0,0
3,0.083333,0.458333,0.084746,0.041667,setosa,1,0,0
4,0.194444,0.666667,0.067797,0.041667,setosa,1,0,0

In [23]:
iris_setosa=iris.ix[iris['Species']=='setosa',:]
iris_versicolor=iris.ix[iris['Species']=='versicolor',:]
iris_virginica=iris.ix[iris['Species']=='virginica',:]

In [24]:
train_setosa=iris_setosa.ix[np.random.permutation(iris_setosa.index)[:25],:]
train_versicolor=iris_versicolor.ix[np.random.permutation(iris_versicolor.index)[:25],:]
train_virginica=iris_virginica.ix[np.random.permutation(iris_virginica.index)[:25],:]
training=pd.concat([train_setosa,train_versicolor,train_virginica])
training=training.ix[np.random.permutation(training.index),:]
test=iris.ix[np.setdiff1d(iris.index,training.index),:]
validate=test.ix[np.random.permutation(test.index)[:38],:]
testing=test.ix[np.setdiff1d(test.index,validate.index),:]

In [19]:
training.to_csv('C:/Users/HP/Desktop/training.csv')
validate.to_csv('C:/Users/HP/Desktop/validate.csv')
testing.to_csv('C:/Users/HP/Desktop/testing.csv')